<template>
  <v-flex>
  
  
  
    <v-card>
  
      <v-card-text class="text">
  
        THIS IS THE JOBS PAGE
  
      </v-card-text>
  
    </v-card>
  
  
  
  </v-flex>
</template>

<style scoped>
  h1,
  
  h2 {
  
    font-weight: normal;
  
  }
  
  
  
  ul {
  
    list-style-type: none;
  
    padding: 0;
  
  }
  
  
  
  li {
  
    display: inline-block;
  
    margin: 0 10px;
  
  }
  
  
  
  a {
  
    color: #42b983;
  
  }
  
  
  
  .text {
  
    text-align: center;
  
    font-size: 80px;
  
    font-weight: 200;
  
    color: #616161;
  
    font-family: 'Raleway', 'sans-serif';
  
  }
  
  
  
  .content {
  
    list-style: none;
  
    font-size: 17px;
  
    line-height: 1.5;
  
  }
  
  
  
  .list {
  
    font-size: 34px;
  
    text-align: left;
  
    font-weight: 400;
  
    color: #616161;
  
    margin-bottom: 1px;
  
    margin-top: 1px;
  
    line-height: 1.2;
  
    font-family: 'Raleway', 'sans-serif';
  
  }
  
  
  
  .mobile {
  
    font-weight: 400;
  
    color: #616161;
  
    text-align: center;
  
    font-size: 45px;
  
    font-weight: 400;
  
    font-family: 'Raleway', 'sans-serif';
  
  }
  
  
  
  .client {
  
    color: #30c27e;
  
    font-family: 'Raleway', 'sans-serif';
  
    font-size: 15px;
  
    align-content: left;
  
    font-weight: 400;
  
    margin-bottom: 1px;
  
    margin-top: 1px;
  
  }
</style>