<template>
  <v-app light>
    <v-navigation-drawer v-model="sideNav" app>
   <v-list-tile  v-for="item in Menu" :key="item.title" router
   :to="item.link">
   <v-list-tile-action>
    <v-icon>{{ item.icon }}</v-icon>
   </v-list-tile-action>
   <v-list-tile-content>{{ item.title }}</v-list-tile-content>
   </v-list-tile>
  </v-navigation-drawer>

  <v-toolbar class="success" dark>
  <v-toolbar-side-icon @click.native.stop="sideNav=!sideNav" class="hidden-sm-and-up">
  </v-toolbar-side-icon>
  <v-toolbar-title >
   <router-link to="/" tag="span"><h3>FennTech</h3></router-link>
  </v-toolbar-title>
  <v-spacer></v-spacer>

  <v-toolbar-items class="hidden-xs-only">
   <v-btn flat v-for="item in Menu" :key="item.title"  class="success" router :to="item.link">
  <v-icon left class="nav"> {{ item.icon }}</v-icon>{{ item.title }}
  </v-btn>
   </v-toolbar-items>
   </v-toolbar>
  <main>
`<v-slide-y-transition mode="out-in">
    <router-view/>
   </v-slide-y-transition>
    </main>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      sideNav:false,
        Menu: [
        { icon:'', title: 'Home', link: '/' },
         { icon: '', title: 'About', link: '/About' },
         { icon: '', title: 'Contact', link: '/ContactUs' },
        { icon: '', title: 'Jobs', link: '/Jobs' },
        { icon: '', title: 'Portfolio', link: '/Portfolio' },
        { icon: '', title: 'Our Clients', link: '/Ourclients' },
      ],

    };
  },
};
</script>
<style>
.nav{
  font-style: bold;
}
@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css";
</style>

